.media-object {
  margin-left:auto;
  margin-right:auto;
}
.audio {
  display:block;
      margin-left: auto;
    margin-right: auto
}

.media {
  width:400px;
}

body {
  background-image:url(http://wallpaperdj.com/wallpapers/experience_music-1920x1080.jpg);
background-size: cover;
  background-repeat: no-repeat;
    background-attachment: fixed;
}